{% extends 'base.html.twig' %}

{% block body %}
<div>
    <div class = "contact_title"><legend><b>Contacto</b></legend></div>
        {{ form_start(form) }}
    <div class="row no-margin">
    <div class="col-md-6"><img class="contact_img", src="{{ asset('bundles/app/image/email_img.png') }}"></div>
    <div class="col-md-4 contact_form">
       {{ form_widget(form) }}
    </div></div>
        {{ form_end(form) }}
</div>
{% endblock %}