{% extends 'base.html.twig' %}

{% block body %}

<div class = "inbox_title"><legend><b>Desarrolladores</b></legend></div>
<div id ="toolbar" class="inbox_toolbar">
  <button id="new_developer" class="btn btn-success dev_buttons" onclick="open_dev_new_moda();">
    <i class="fa fa-external-link"></i> Nuevo
  </button>
  <button id="edit_developer" class="btn btn-primary dev_buttons" onclick="edit_developer_modal();">
    <i class="fa fa-envelope-o"></i> Editar
  </button>
  <button id="delete_developer" class="btn btn-danger dev_buttons" data-toggle="modal" data-target="#delete_single_modal">
    <i class="fa fa-remove"></i> Eliminar
  </button>
</div>

<div class="col-lg-10 offset-lg-1">
    <table id="table"
           data-search="true"
           data-pagination="true"
           data-toggle="table"
           data-toolbar="#toolbar"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-url= "{{ path('developers_json') }}">
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="id" data-visible="false">Id</th>
          <th data-field="name" data-width="160px">Nombre</th>
          <th data-field="surname" data-width="160px">Apellidos</th>
          <th data-field="personalInformation">Información personal</th>
          <th data-field="" data-formatter="linksFormatter">Redes</th>
          <!--<th data-field="linkedin">Linkedin</th>
          <th data-field="twitter">Twitter</th>
          <th data-field="github">Github</th> -->
        </tr>
      </thead>
    </table>
  </div>
  
  <!-- Modal New/Edit -->
  <div class="modal fade" id="new_developer_modal" tabindex="-1" role="dialog" aria-labelledby="new_developer_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content my_modal_content">
        <div class="modal-header my_modal_header">
          <h5 class="modal-title" id="new_developer_modalLabel">Nuevo desarrollador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row form-group">
            <label for="new_dev_name" class="col-sm-2 col-form-label">Nombre: </label>
            <div class="col-sm-9 form_modal_space">
                <input class="form-control mx-sm-3" type="text" name="devs_name" id="new_dev_name">
            </div>
            
            <label for="new_dev_surname" class="col-sm-2 col-form-label">Apellido: </label>
            <div class="col-sm-9 form_modal_space">
                <input type="text" class="form-control mx-sm-3" name="devs_surname" id="new_dev_surname">
            </div>

            <label for="new_dev_pinfo" class="col-sm-2 col-form-label">Descripción: </label>
            <div class="col-sm-9 form_modal_space">
                <textarea class="form-control mx-sm-3" style="resize: none;" id="new_dev_pinfo"></textarea>
            </div>

            <label for="new_dev_linkedin" class="col-sm-2 col-form-label">Linkedin: </label>
            <div class="col-sm-9 form_modal_space">
                <input type="text" class="form-control mx-sm-3" name="devs_linkedin" id="new_dev_linkedin">
            </div>

            <label for="new_dev_twitter" class="col-sm-2 col-form-label">Twitter: </label>
            <div class="col-sm-9 form_modal_space">
                <input type="text" class="form-control mx-sm-3" name="devs_twitter" id="new_dev_twitter">
            </div>

            <label for="new_dev_github" class="col-sm-2 col-form-label">Github: </label>
            <div class="col-sm-9 form_modal_space">
                <input type="text" class="form-control mx-sm-3" name="devs_github" id="new_dev_github">
            </div>
            
            <label for="new_dev_image" class="col-sm-2 col-form-label">Imagen: </label>
            <div class="col-sm-9 form_modal_space">
              <label id="current_image" style="margin-left: 15px;"></label>
              <input type="file" name="pic" class="mx-sm-3" name="devs_image" id="new_dev_image" accept="image/*">
            </div>
          </div>
        </div>
        <div class="modal-footer my_modal_footer">
          <button type="button" class="btn btn-secondary" onclick="save_developer();">Guardar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="close_dev_moda();">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal message to delete -->
<div class="modal fade del_email" id="delete_single_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación de eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="modal-text">¿Seguro que desea eliminar el mensaje seleccionado?</p>
        <div class="modal-button-bar">
          <button type="button" id="delete_email_btn" class="btn btn-secondary" onclick="delete_developer();">Confirmar</button>
          <button type="button" onclick="$('#delete_single_modal').modal('hide')" class="btn btn-primary">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    const $new = $('#new_developer');
    const $edit = $('#edit_developer');
    const $remove = $('#delete_developer');
    const $table = $('#table');
    let selections = [];

    var type_modal;
    var dev_id;
    var dev_name;
    var dev_surname;
    var dev_pinformation;
    var dev_linkedin;
    var dev_twitter;
    var dev_github;
    var dev_image;
    var url_base = "{{ asset('uploads/media/') }}";
    
    function linksFormatter(value, row, index, field) {
        linkedin  = linkedin_link = row.linkedin;
        twitter = twitter_link = row.twitter;
        github = github_link = row.github;

        if (linkedin == null) {
          linkedin = '-------'; 
          linkedin_link = '#' ;
        }
        if (twitter == null) {
          twitter = '-------'; 
          twitter_link = '#';
        } 
        if (github == null) {
          github = '-------'; 
          github_link = '#' ;
        }

        return '<ul><li><a  class="dev_links" target="_black" href="'+ linkedin_link +'">'+ linkedin +'</a></li>'+
               '<li><a class="dev_links" target="_black" href="'+ twitter_link +'">'+ twitter +'</a></li>' +
               '<li><a class="dev_links" target="_black" href="'+ twitter_link +'">'+ github +'</a></li>';
    }

    function check_enable_button_edit(selected_length) {
        if (selected_length != 0) {
            if (selected_length > 1) {
                $edit.prop('disabled', 'disabled');
            } else {
                $edit.prop('disabled', '');
            }
        }
    }

    $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', () => {
        $edit.prop('disabled', !$table.bootstrapTable('getSelections').length);
        $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
        // save your data, here just save the current page
        selections = getIdSelections();
        check_enable_button_edit(selections.length);
        dev_id = getIdSelections();
        dev_name = getNameSelections();
        dev_surname = getSurnameSelections();
        dev_pinformation = getPInformationSelections();
        dev_linkedin = getLinkedinSelections();
        dev_twitter = getTwitterSelections();
        dev_github = getGithubSelections();
        dev_image = getImageSelections();
        // push or splice the selections if you want to save all data selections
      });
    
    function getIdSelections() {
      return $.map($table.bootstrapTable('getSelections'), ({id}) => id);
    }

    function getNameSelections() {
      return $.map($table.bootstrapTable('getSelections'), ({name}) => name);
    }

    function getSurnameSelections() {
      return $.map($table.bootstrapTable('getSelections'), ({surname}) => surname);
    }

    function getPInformationSelections() {
      return $.map($table.bootstrapTable('getSelections'), ({personalInformation}) => personalInformation);
    }

    function getGithubSelections() {
      return $.map($table.bootstrapTable('getSelections'), ({github}) => github);
    }

    function getLinkedinSelections() {
      return $.map($table.bootstrapTable('getSelections'), ({linkedin}) => linkedin);
    }

    function getTwitterSelections() {
      return $.map($table.bootstrapTable('getSelections'), ({twitter}) => twitter);
    }

    function getImageSelections() {
      return $.map($table.bootstrapTable('getSelections'), ({image}) => image);
    }
    
    $( document ).ready(function() {
    
      $('#table').on('post-body.bs.table', function (data) {
        $('#table').bootstrapTable('uncheckAll');
      });
    });

    function save_developer() {
        // first take a dato to inputs
        var data = new FormData();
        data.append('name', $('#new_dev_name').val());
        data.append('surname', $('#new_dev_surname').val());
        data.append('pinformation', $('#new_dev_pinfo').val());
        data.append('linkedin', $('#new_dev_linkedin').val());
        data.append('twitter', $('#new_dev_twitter').val());
        data.append('github', $('#new_dev_github').val());
        data.append('image', $('#new_dev_image')[0].files[0]);
        if (type_modal == 'edit') data.append('id', dev_id);

        if (check_form_developer()) {
            $.ajax({
              method: 'POST',
              url: "{{ path('save_developer') }}", 
              data: data,
              processData: false,
              contentType: false,
              success: function(result){
                  $('#image_dev').hide();
                  $('#new_developer_modal').modal('hide')
                  $('#table').bootstrapTable('refresh');
                  
              },
              error: function(xhr, ajaxOptions, thrownError) {
                  alert(xhr.status);
                  alert(thrownError);
              }
          });
        }
    }

    function check_form_developer() {
      var v_name = false; v_name = validate_name();
      var v_pinfo = false; v_pinfo = validate_pinformation();
      var v_image = false; v_image = validate_image();

      return v_name && v_pinfo && v_image;
    }

    function validate_name() {
      var validate = false;
      
      if ($('#new_dev_name').val() == "") {
        $('#new_dev_name').addClass("validate_class");
        validate = false;
      }else {
        $('#new_dev_name').removeClass("validate_class");
        validate = true;
      }

      return validate;
    }

    function validate_pinformation() {
      var validate = false;
      
      if ($('#new_dev_pinfo').val() == "") {
        $('#new_dev_pinfo').addClass("validate_class");
        validate = false;
      }else {
        $('#new_dev_pinfo').removeClass("validate_class");
        validate = true;
      }

      return validate;
    }

    function validate_image() {
      var validate = false;
      
      if ($('#new_dev_image')[0].files[0] == null) {
        $('#new_dev_image').addClass("validate_class");
        validate = false;
      }else {
        $('#new_dev_image').removeClass("validate_class");
        validate = true;
      }

      return validate;
    }

    function delete_developer() {
      var data = {}
      data['ids'] = selections;
      
      $.ajax({
        method: 'POST',
        url: "{{ path('delete_developer') }}", 
        data: data,
        success: function(result){
            $('#delete_single_modal').modal('hide');
            $('#table').bootstrapTable('refresh');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
        });
    }
    
    function edit_developer_modal() {

      $('#new_dev_name').val(dev_name);
      $('#new_dev_surname').val(dev_surname);
      $('#new_dev_pinfo').val(dev_pinformation);
      $('#new_dev_linkedin').val(dev_linkedin);
      $('#new_dev_twitter').val(dev_twitter);
      $('#new_dev_github').val(dev_github);
      $('#current_image').show();
      $('#current_image').html('Actual imagen: ' + dev_image);
      url_image = 

      type_modal = 'edit';
      $('#new_developer_modal').modal('toggle');
    }
    
    function close_dev_moda() {
        $('#new_dev_name').val("");
        $('#new_dev_surname').val("");
        $('#new_dev_pinfo').val("");
        $('#new_dev_linkedin').val("");
        $('#new_dev_twitter').val("");
        $('#new_dev_github').val("");
        $('#new_dev_image').val("");
        $('#current_image').html("");
        $('#image_dev').hide();

        $('#new_developer_modal').modal('hide');
    }

    function open_dev_new_moda() {
        $('#new_dev_name').val("");
        $('#new_dev_surname').val("");
        $('#new_dev_pinfo').val("");
        $('#new_dev_linkedin').val("");
        $('#new_dev_twitter').val("");
        $('#new_dev_github').val("");
        $('#new_dev_image').val("");
        $('#current_image').hide();

        type_modal = 'new';
        $('#new_developer_modal').modal('toggle');
    }
    
    $( "#current_image" ).mouseenter(function() {
      if ($('#image_dev').is(":visible") == false) {
        $( this ).after("<img id='image_dev' src='"+ url_base + dev_image +"'>");
        $('#image_dev').show();
      }
    }); 

    </script>
{% endblock %}