
.dev_links {
    text-decoration-line: none;
    color: #000;
}

.dev_links:hover {
    text-decoration-line: none;
    color: #dc3545;
}

.form_modal_space {
    margin-bottom: 20px !important;
}

.dev_buttons {
    min-width: 100px;
    width: 150px;
}

.my_modal_content {
    max-height: 525px;
    overflow-y: auto;
}

.my_modal_header {
    padding-bottom: 45px;
}

.my_modal_footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

#image_dev{
    width: 200px;
    margin-left: 55px;
    margin-bottom: 15px;
}

.validate_class {
    border: 1px solid #dc3545 !important;
    box-shadow: 0 0 0 0.2rem #dc354563 !important;
}

.validate_class:focus {
    border: 1px solid #dc3545 !important;
    box-shadow: 0 0 0 0.2rem #dc354563 !important;
}