.navbar_content {
    background-color: #1E2224 !important;
    margin-bottom: 30px;
}

.text_link {
    color: #F8FFFF !important;
}

.text_link:hover {
    color: #1A95D5 !important;
}

.text_link:active {
    color: #1A95D5 !important;
}

.nav_bar_div {
    width: 100%;
    position: fixed;
    z-index: 2;
}