@import url("variables.css");

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.4rem;
    background-color: var(--main-color);
    text-align: center;
  }

.text_color {
    color: #1A95D5;
    font-size: 14px;
}

.no-margin {
    margin: 0px !important;
}

.bio_image {
    width: 200px;
    height: 300px;
}

.bio_icon {
    height: 70px;
}

.row_margin {
    margin-bottom: 50px !important;
}

.row_padding {
    padding-right: 15px;
}

.index_image {
    width: 100%;
}